.container{
    margin: 0 5% auto;
    background-color: #fffafa;
    box-sizing: border-box;
    padding-top: 1%;
}
.status-bar{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time{
    font-size: 3rem;
    font-family: Inter;
    font-weight:200;
}
.status-icon img{
    width: 30px;
   margin: 0 2px auto ;    
}
.icons{
    display: flex;
    align-items: center;
}
.description{
    text-align: center;
    font-family: "Roboto";
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
.confetti-btn{
    border: none;
    background: none;
    font-size: 5rem;
}
#write-up{
    font-weight: 600;
    font-size: 25px
}
#closer{
    font-size: 20px;
}
.description canvas{
    pointer-events: none;
}
.home-btn{
    text-align: center;
    margin-top: 10%;
    text-align: center;
    border-radius: 40px;
    background-color: #03A84E;
    color: #E9FBF2;
    padding: 2px;
    font-size: 18px;
    font-family: "Roboto";
}
.home-btn a{
    color: #fff;
    font-weight: 500;
    list-style: none;
    text-decoration: none;    
}

@media screen and (max-width: 700px) {
    .container{
        margin: 0 2% auto;
    }
    .status-bar{
        display: flex;
        align-items: center;
    }

    #write-up{
        font-weight: 600;
        font-size: 15px
    }
    .description{
        text-align: center;
    }
    #closer{
        font-size: 13px;
    }
    .status-icon img{
        width: 15px;
    }
    .time{
        font-size: 1rem;
        font-family: Inter;
    }
    .home-btn{
        text-align: center;
        margin-top: 15%;
        text-align: center;
        padding: 1px;
    }
}