*{
    /* background-color: #faf3f3; */
    /* background-color: pink; */
}

.icons{
    display: flex;
    align-items: center;
}


.status-icon img{
    width: 30px;
   margin: 0 2px auto ;    
}

.parent-container{
    margin: 0 25% auto;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 0;
}

.time{
    font-size: 3rem;
    font-family: Inter;
    font-weight:200;
}

.status-bar{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-plan {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 33%;
}
.review-plan p {
    font-family: Inter;
    font-weight: bold;
    font-size: 1.5rem;
}

.progress-bar{
    padding-top: 40px;
}
.progress-bar img{
    width: 600px;
    padding: 0;
    margin: 0;
}

.plan-review{
    padding: 2%;
    margin-top: 10%;
}

h2{
    font-family: "PT Serif";
}

p{
    font-family: "Roboto";
    width: 80%;
}

.plan-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.plan h3{
    /* width: 30%; */
    width: 100%;
    padding-left: 10px;
    font-family: 'Roboto';
}
.services h3{
    width: 100%;
    padding-right: 20px;
    color: green;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 20px;
}
.hr-line{
    margin-bottom: 35px;
}

.category{
    display: flex;
    font-family: "Roboto";
    border-radius: 20px;
    justify-content: space-between;
    padding: 1%;
    margin-top: 25px;
}

.food-body{
    background-color: #a7d5be;
}

.laundry-body{
    background-color: #c2e6e7;
}

.cleaning-body{
    background-color: rgb(249, 228, 203);
}

.beauty-body{
    background-color: rgb(248, 222, 227);
    margin-bottom: 25px;
}

.food{
     display: flex;
     padding: 12px;
     align-items: center;
     margin-bottom: 10px;
}
.food h4{
    margin-left: 10px;
    font-size: 20px;
    color: #0F241B;
}    

.expand{
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    font-size: 15px;

}
.expand p{
    /* margin-top: 38px; */
    width: 100%;
    color: #4B6358;
}

.price{
    position: absolute;
    margin-top: 5em;
    margin-left: 25px;
    color: #4B6358;
    font-size: 15px;
    font-weight: 400;
}

.start-date-sec{
    font-size: 18px;
    margin-bottom: 25px;
}

#choose-date{
    width: 100%;
    color: green;
    font-weight: 500;
    font-family: "Roboto";
    margin-left: 60%;
}

#start-date{
    font-weight: 600;
    color: #0F241B;
}

.payment-date{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid orange;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.payment-date p{
    margin-bottom: 20px;
}

#vector-img{
    width: 30px;
}
.discount-sec{
    margin-bottom: 25px;
}

.discount-sec h4{
    /* margin-bottom: 10px; */
}

#code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#code h5{
    border-radius: 40px;
    border: 1px solid #E2E9E6;
    padding: 12px;
    width: 30%;
    color: #0F241B;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto";
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    color: #0F241B;
    width: 50%;
    height: 50px;
    border-color: #03A84E;
}

.discount-sec p{
    color: #03A84E;
}
.discount-sec h4{
    color: #0F241B;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 22px;
}


@media screen and (max-width: 700px) {
        .parent-container{
            margin: 0 2% auto;
        }
}



